. "${ab_root}/filogic/rules"

list_add_after $(hooks autobuild_prepare) platform_change_kernel_config mt7987_change_kernel_config

mt7987_change_kernel_config() {
	kernel_config_enable CONFIG_COMMON_CLK_MT7987
	kernel_config_enable CONFIG_PINCTRL_MT7987
	kernel_config_enable CONFIG_HOTPLUG_CPU
	kernel_config_enable CONFIG_MT753X_GSW
	kernel_config_disable CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE
	kernel_config_enable CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE
	kernel_config_disable CONFIG_PCIEASPM_PERFORMANCE
	kernel_config_enable CONFIG_PCIEASPM_POWER_SUPERSAVE

}
