CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_arcadyan_mozart=y
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r4 is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r4-poe is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r4-lite is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r4-pro is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7987a-rfb is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb-mxl86252 is not set
# CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7988d-rfb is not set
CONFIG_PACKAGE_kmod-gpio-pca953x=m
CONFIG_PACKAGE_kmod-i2c-mux-pca954x=m
CONFIG_PACKAGE_kmod-eeprom-at24=m
CONFIG_PACKAGE_kmod-rtc-pcf8563=m
CONFIG_PACKAGE_kmod-usb3=m
# CONFIG_PACKAGE_kmod-mt7990-firmware is not set
# CONFIG_PACKAGE_kmod-mt7992-23-firmware is not set
# CONFIG_PACKAGE_kmod-mt7992-firmware is not set
CONFIG_PACKAGE_kmod-crypto-eip-ddk=y
CONFIG_PACKAGE_kmod-pce=y
CONFIG_PACKAGE_strongswan=y
CONFIG_PACKAGE_strongswan-default=y
CONFIG_PACKAGE_strongswan-mod-kdf=y
CONFIG_PACKAGE_blkid=m
