list_add_after $(hooks autobuild_prepare) platform_change_kernel_config filogic_change_kernel_config
list_append $(hooks autobuild_prepare) airoha_firmware_install
list_add_after $(hooks autobuild_prepare) airoha_firmware_install copy_phy_firmware

# remove crypto packages to prevent warning caused by package dependency
if [ -z ${internal_build} ]; then
	list_prepend $(hooks autobuild_prepare) remove_crypto_package
fi

if test x"${hqa_set}" == x"yes"; then
	. "${ab_global}/hqa.sh"
fi

if test x"${optee}" == x"yes"; then
	list_add_after $(hooks autobuild_prepare) platform_change_openwrt_config platform_enable_optee_config
	list_add_after $(hooks do_build) build_openwrt platform_build_optee_rpmb
fi

if test x"${secure_boot}" == x"yes"; then
	list_add_after $(hooks autobuild_prepare) platform_change_openwrt_config platform_enable_security_config
fi

help_add_line "  hqa - Enable HQA test support."
help_add_line "  optee - Enable optee"
help_add_line "  secure_boot - Enable secure_boot, including signing, anti-rollback and firmware encryption"

platform_change_openwrt_config() {
	# Enable the following packages for eMMC QVL
	openwrt_config_enable CONFIG_PACKAGE_fio
	openwrt_config_enable CONFIG_PACKAGE_lsblk
	openwrt_config_enable CONFIG_PACKAGE_sfdisk
	openwrt_config_enable CONFIG_PACKAGE_mmc-utils
}

filogic_change_kernel_config() {
	kernel_config_enable CONFIG_EXTRA_FIRMWARE "\"airoha/EthMD32.dm.bin airoha/EthMD32.DSP.bin as21x1x_fw.bin Rhe-05.06-Candidate9-AQR_Mediatek_23B_P5_ID45824_LCLVER1.cld AQR-G4_v5.7.0-AQR_EVB_Generic_X3410_StdCfg_MDISwap_USX_ID46316_VER2148.cld\""
	kernel_config_enable CONFIG_EXTRA_FIRMWARE_DIR "\"../../../../staging_dir/firmware\""
	kernel_config_enable CONFIG_AIR_EN8811H_PHY
	kernel_config_enable CONFIG_AIR_EN8811H_PHY_DEBUGFS
	kernel_config_enable CONFIG_MT753X_GSW
	kernel_config_enable CONFIG_AN8855_GSW
	kernel_config_disable CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE
	kernel_config_enable CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE
	kernel_config_enable CONFIG_CPU_FREQ_THERMAL
	kernel_config_enable CONFIG_THERMAL_EMULATION
	kernel_config_enable CONFIG_LEDS_PWM_MULTICOLOR
	kernel_config_enable CONFIG_SENSORS_PWM_FAN
	kernel_config_enable CONFIG_NET_DSA_MXL862
	kernel_config_enable CONFIG_NET_DSA_TAG_MXL862
	kernel_config_enable CONFIG_NET_DSA_TAG_MXL862_8021Q
	kernel_config_disable CONFIG_MEDIATEK_NETSYS_V2
	kernel_config_disable CONFIG_MEDIATEK_NETSYS_V3
	kernel_config_enable CONFIG_PTP_1588_CLOCK
	kernel_config_enable CONFIG_AS21XXX_PHY
	kernel_config_enable CONFIG_AQUANTIA_PHY
	kernel_config_enable CONFIG_AIROHA_AN8801_PHY
}

platform_enable_optee_config() {
	openwrt_config_enable CONFIG_PACKAGE_optee-mediatek
	openwrt_config_enable CONFIG_OPTEE_TEST
	openwrt_config_enable CONFIG_OPTEE_FW_ENC_EARLY_TA
	openwrt_config_enable CONFIG_OPTEE_MTK_TEST
}

platform_build_optee_rpmb() {
	# clean optee package
	exec_log "make -C \"${openwrt_root}\" package/mtk/optee-mediatek/clean V=s"

	# add RPMB config
	openwrt_config_enable CONFIG_OPTEE_RPMB_FS
	openwrt_config_enable CONFIG_OPTEE_RPMB_WRITE_KEY

	# defconfig
	make_defconfig

	# re-build optee
	exec_log "make -C \"${openwrt_root}\" package/mtk/optee-mediatek/compile V=s"

	# revert RPMB config
	openwrt_config_disable CONFIG_OPTEE_RPMB_FS
	openwrt_config_disable CONFIG_OPTEE_RPMB_WRITE_KEY

	# defconfig
	make_defconfig

	# clean optee package
	exec_log "make -C \"${openwrt_root}\" package/mtk/optee-mediatek/clean V=s"
}

platform_enable_security_config() {
	openwrt_config_enable CONFIG_MTK_SECURE_BOOT
	openwrt_config_enable CONFIG_MTK_ANTI_ROLLBACK
	openwrt_config_enable CONFIG_MTK_FW_ENC
}

airoha_firmware_install() {
	exec_log "make -C \"${openwrt_root}\" V=s package/firmware/linux-firmware/{download,clean,prepare}"
}

copy_phy_firmware() {
	# ensure the PHY firmware is located in the same directory when compiling the kernel's built-in PHY driver
	copy_file "${openwrt_root}/package/kernel/as21xxx/firmware/as21x1x_fw.bin" "staging_dir/firmware"
	copy_file "${openwrt_root}/package/kernel/aqr10g-phy-fw/files/Rhe-05.06-Candidate9-AQR_Mediatek_23B_P5_ID45824_LCLVER1.cld" "staging_dir/firmware"
	copy_file "${openwrt_root}/package/kernel/aqr10g-phy-fw/files/AQR-G4_v5.7.0-AQR_EVB_Generic_X3410_StdCfg_MDISwap_USX_ID46316_VER2148.cld" "staging_dir/firmware"

	# copy linux firmware
	linux_firmware_path=$(openwrt_get_package_build_dir "package/firmware/linux-firmware")
	copy_files "${linux_firmware_path}/airoha" "staging_dir/firmware/airoha"
}

remove_crypto_package () {
	exec_log "${openwrt_root}/scripts/feeds uninstall crypto-eip pce tops-tool"
}
