CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_iw-full=y
CONFIG_PACKAGE_kmod-mt76=y
CONFIG_PACKAGE_kmod-mt7992-firmware=y
CONFIG_PACKAGE_kmod-mt7996-firmware=y
CONFIG_PACKAGE_wpa-cli=y
# CONFIG_PACKAGE_wpad-basic-mbedtls is not set
CONFIG_PACKAGE_wpad-basic-openssl=y
CONFIG_WPA_MSG_MIN_PRIORITY=2
